.atuacao-wrapper {
  background-color: var(--white);
  padding-bottom: 2rem;
  .areas-text {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 3rem;
    align-items: center;
    .line-atuacao{
      height: 3px;
      background-color: var(--black);
      margin: 1rem;
      width: 25%;
      @media screen and (max-width: 550px) {
        width: 15%;
      }
      @media screen and (max-width: 400px) {
        width: 8%;
      }
    }
    h2 {
      font-weight: 700;
      color: var(--black);
    }
  }
  .cards-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .card-dto {
      padding: 2rem;
      aspect-ratio: 1 / 1;
      height: 30%;
      width: 30%;
  
      @media screen and (max-width: 768px) {
        width: 45%;
        height: 45%;
      }
      @media screen and (max-width: 500px) {
        width: 85%;
        height: 85%;
      }
      .card-img {
        background-color: var(--black);
        box-sizing: border-box;
        overflow: hidden;
        box-shadow: 2px -2px 15px rgba(0, 0, 0, 0.3);
        img {
          height: 100%;
          width: 100%;
          object-fit: fill;
          transition: transform .5s;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
      .card-content {
        background-color: var(--black);
        box-shadow: 2px -2px 15px rgba(0, 0, 0, 0.3);
        p {
          padding-left: .5rem;
          color: var(--white);
          text-align: center;
        }
      }
    }
  }
}
