.contact-wrapper {
  background-color: var(--pale-gold);
  color: var(--black);
  form {
    // display: flex;
    justify-content: flex-start;
    flex-direction: column;
    legend {
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 2rem;
    }
    .contact-form {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
    }
    .contact-input {
      padding: 15px;
      margin: 10px 0px;
    }
    .contact-btn {
      padding: 1rem;
      margin: 1rem;
      font-size: 16px;
    }
    span {
      font-size: 12px;
      padding: 3px;
      color: red;
      display: none;
    }
    #contact-text {
      padding: 15px;
      font-size: 14px;
      margin-bottom: 2rem;
      font-family: "Roboto", sans-serif;
      width: 100%;
    }
    .btn-wrapper{
      display: flex;
      justify-content: center;
      .contact-btn {
        color: var(--gold);
        background-color: var(--black);
        width: 30%;
        font-weight: 600;
        padding: 1.5rem;
        border: none;
        align-items: center;
        opacity: 0.9;
        cursor: pointer;
        transition: .3s ease;
        &:hover {
          opacity: 1;
        }
      }
    }

    .contact-input:invalid[focused="true"] {
      border: 1px solid red;
    }

    .contact-input:invalid[focused="true"] ~ span {
      display: block;
    }
  }
}