.burger {
  width: 2rem;
  height: 2rem;
  position: fixed;
  top: 30px;
  right: 20px;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: nowrap;
  cursor: pointer;
  i {
    width: 2rem;
    height: .25rem;
    background-color: var(--gold);
    transition: all ease 0.5s;
  }

  .open:nth-child(1) {
    transform: rotate(45deg) translateY(8px) translateX(1px);
  }
  .open:nth-child(2) {
    transform: translateX(100%);
    opacity: 0;
  }
  .open:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px) translateX(1px);
  }

  .close:nth-child(1) {
    transform: rotate(0) translateY(0);
  }
  .close:nth-child(2) {
    transform: translateX(0%);
    opacity: 1;
  }
  .close:nth-child(3) {
    transform: rotate(0) translateY(0);
  }
}
a {
  text-decoration: none !important;
  color: var(--gold) !important;
}

header {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    .logo {
      padding-left: 1rem;
    }
  }
}
.burger-items {
  display: flex;
  position: fixed;
  z-index: 998;
  background-color: var(--black);
  padding-bottom: 1rem;
  flex-direction: column;
  width: 100%;
  color: var(--gold);
  align-items: center;
  transform: translateY(-100%);
  transition: all ease-in-out .3s;
  @media screen and (min-width: 769px) {
    display: none;
  }
  li {
    padding: 1rem;
    padding-bottom: .25rem;
    text-align: center;
    cursor: pointer;

    background-image: linear-gradient(var(--gold), var(--gold));
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition: background-size 0.3s;
    background-position: 50% calc(100% - 0px);
  }
  li:hover {
    background-size: 100% 2px;
  }
  &.active {
    transform: translateY(0%);
  }
}

@media screen and (max-width: 768px) {
  .burger {
    display: flex;
    z-index: 1000;
  }
}