header {
  background-color: var(--black);
  .navbar {
    justify-content: space-between;
      .logo{
        color: var(--gold);
        font-weight: var(--fw-700);
      }
      .nav-items {
        flex-wrap: nowrap;
        color: var(--pale-gold);
        li {
          margin-right: 1.5rem;
          font-weight: 500;
          cursor: pointer;

          background-image: linear-gradient(var(--pale-gold), var(--pale-gold));
          background-size: 0% 1.5px;
          background-repeat: no-repeat;
          transition: background-size 0.3s;
          background-position: 50% calc(100% - 0px);
        }
        li:hover {
          background-size: 100% 1.5px;
        }
      }
  }
}
